*{
	margin: 0px;
}
.viewport{
	width: 100%;
}
.background{
	display:block;
	position:relative;
	min-height: 400px;
	height: 100vh;
}
.content{
	max-width: 1440px;
	height:100%;
}
.left-side{
	position: relative;
	width: 50%;
	height: 100%;
	float: left;
}
.right-side{
	position: relative;
	width: 50%;
	height: 100%;
	float: right;
}
#intro img{
	position: relative;
	top: 100px;
	right: 100px;
	float: right;
}
.nav-wrapper{
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 0px;
}
.nav{
	position: relative;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	min-height: 400px;
	height: 100vh;
	width: 200px;
	z-index: 100;
	overflow: hidden;
}
.white{
	color: #2645FF;
}
.blue{
	color: white;
}
.nav .nav-content{
	position: relative;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
}
.nav .nav-content H1{
	position: absolute;
	text-align: right;
	right: 0px;
	top: 55px;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 700;

}
.nav .nav-content .bottom{
	position: absolute;
	width: 100%;
	height: 60%;
	bottom: 0px;
}
.nav .nav-content .bottom ul{
	list-style-type: none;
	font-size: 18px;
	text-align: right;
}
.nav .nav-content .bottom ul li{
	margin-bottom: 5px;
	cursor: pointer;
}
.nav .nav-content .bottom li a:hover{
	text-decoration: underline !important;
}
.nav .nav-content .bottom .pages{
	position: absolute;
	width: 100%;
	top: 0px;
}
.nav .nav-content .bottom .links{
	position: absolute;
	width: 100%;
	bottom: 50px;
	text-decoration: none;
	color: inherit;
}